{% extends "base.html" %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" 
            style="font-family: 'Do Hyeon', sans-serif; font-size: 70px;">
                영화 추천
            </h1>
            <p class="lead fw-normal text-white-50 mb-0" 
            style="font-family: 'Do Hyeon', sans-serif; font-size: 24px;">
                리뷰 감성분석으로 추천하는 영화!
            </p>
        </div>
    </div>
</header>
<!-- form -->
<div align='center'>
<form method='post' class='post-form'>
    {{ form.csrf_token }}
    {% include "form_errors.html" %}
    <br>
    <div class="form-group">
        <label>
            <h1 style="font-family: 'Do Hyeon', sans-serif;">
                어떤 영화를 보고 싶으세요?
            </h1>
        </label>
        <br>
        <br>
        <input type="text" class="form-control" name="title"
         placeholder="영화 제목 입력" style="width: 400px;">
        <small class="form-text text-muted">
            그 영화 리뷰를 토대로 추천 여부를 결정해요!
        </small>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-dark mt-auto"
    style="font-family: 'Jua';">
        추천 보기
    </button>
</form>
</div>
<section>
{% if target %} 
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- 영화 포스터-->
                    <img class="card-img-top" src="{{rev.get_data_from_db(form.title.data)['poster']}}"alt="">
                    <div class="card-body p-4" style="background-color: rgb(219, 219, 219);">
                        <div class="text-center">
                            <!-- 영화 제목-->
                            <h5 class="fw-bolder" style="font-family: Do Hyeon; font-size: 24px;">
                                {{form.title.data}}
                            </h5>
                            <!-- 추천 / 비추천-->
                            {% if target == 'yes' %} 
                            <p style="color:blue; font-family: 'JUA';">추천! 😀👍</p>
                            {% elif target == 'soso' %} 
                            <p style="color:rgb(195, 166, 3); font-family: 'JUA';">호불호 갈림 😶</p>
                            {% else %}
                            <p style="color:red; font-family: 'JUA'">비추천! 😟👎</p>
                            {% endif %} 
                        </div>
                        <div class="text-center" style="background-color: rgb(219, 219, 219);">
                            <a class="btn btn-outline-dark mt-auto" href="{{ url_for('review.show_details', title=form.title.data) }}">
                                리뷰 보기 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %} 
</section>

{% endblock %}